* {
   box-sizing: border-box;
   font-family: "Poppins";
}

body {
   margin: 0;
}

header {
   display: inline;
}

#site-title {
   font-family: "Great Vibes";
   font-size: 2rem;
   color: #2757cc;
}

#navbar {
   width: 100%;
   height: 3rem;
   position: sticky;
   top: 0;
   background-color: white;
   margin: 0;
   padding: 0;
   box-shadow: 0px 5px 3px 0px rgba(233, 231, 231, 0.863);
}

#nav-container {
   display: flex;
   width: 20%;
   justify-content: space-between;
   margin: auto;
   padding-top: 10px;
   height: 2rem;
}

.nav-item {
   text-decoration: none;
}

.nav-item:hover {
   color: black;
}

#main {
   display: flex;
   justify-content: space-between;
   margin: 20px;
}

#content {
   flex-basis: 73%;
   padding: 0 30px 30px 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 8px;
   border-top: 1px solid rgb(236, 234, 234);
   background: linear-gradient(to bottom right, #eef5fe, white);
}

#side-content {
   flex-basis: 25%;
   padding: 30px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 8px;
   text-align: center;
   border-top: 1px solid rgb(236, 234, 234);
   height: 50%;
   margin-bottom: 20px;
   background: linear-gradient(to top left, #eef5fe, white);
}

.project-link {
   font-size: 24px;
   width: 100%;
   text-align: center;
   color: #2757cc;
   font-weight: normal;
}

#title {
   text-align: center;
   margin-bottom: 2rem;
   color: #2757cc;
}

.project-img {
   width: 50%;
   height: 20rem;
   object-fit: contain;
}

.project-container {
   display: flex;
   flex-direction: column;
}

.project-detail {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.project-desc {
   font-size: 1rem;
   text-align: justify;
   padding: 30px;
}

#profile-pic {
   border-radius: 50%;
   width: 100%;
   object-fit: cover;
   display: block;
   margin: 10px auto 30px auto;
}

#footer {
   padding: 30px;
   text-align: justify;
}

#aboutme {
   color: #2757cc;
}

.links {
   color: #2757cc;
   text-decoration: none;
}

.links:hover {
   color: black;
}

@media screen and (max-width: 1000px) {
   #main {
      flex-direction: column-reverse;
   }

   .project-detail {
      flex-direction: column;
   }

   .project-img {
      width: 100%;
      height: 100%;
   }

   #profile-pic {
      width: 70%;
   }

   #nav-container {
      width: 50%;
   }

   .project-desc {
      padding: 0px;
   }
}
